<div class="side-navigation">
    <div class="section-title">
        <h3>Category</h3>
    </div>

    <div class="accordion">
        <div class="accordion-item individual-category">
            <div class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="collapseOne">
                    <div class="category-title">
                        <a href="#">Category</a>
                    </div>
                </button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li class="sub-items"><a href="#">Item 1</a></li>
                        <li class="sub-items"><a href="#">Item 2</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>