@import "../../../../styles.scss";

.navigation-container {
    max-width: 100%;
    background-color: #1f1e1e;
    border-top: #444444 solid 1px;
    li{
        list-style-type: none;
        display: inline-block;
        margin: 0.2em 1em;
        padding: 0.4em;
        height: 2.5em;
        a{
            color: white;
            text-decoration: none;
            height: 1.8em;
            font-size: 0.9em;
            font-weight: 700;

            @include underline-transition(1.1);
    }
    }
}