<ng-container *ngIf="!cartStore.cart.products.length">
    <div class="p-4 ec-main-div">
        <span class="my-5 ec-text">The Cart is Empty</span>
        <hr/>
        <div class="btn btn-warning my-3" (click)="navigateToHome()">
            <span style="font-weight: 500;">Continue Shopping</span>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="cartStore.cart$ | async as cart">
    <div class="row my-5 fc-main-div">
        <div class="col-8 p-4">
            <div class="row cart-item-card" *ngFor="let cartItem of cart.products">
                <div class="col-4">
                    <img [src]="'../../../../assets/images/' + cartItem.product.product_img">
                </div>

                <div class="col-8">
                    <div class="p03 cart-item-details">
                        <span class="cart-item-name">
                            {{cartItem.product.product_name}}
                        </span>
                    </div>
                    <div class="cart-item-price">
                        <span >
                            {{cartItem.product.price | currency}}
                        </span>
                    </div>
                    <app-ratings [score]="cartItem.product.ratings"></app-ratings>
                    <hr />
                    <div class="cart-edit-container">
                        <div class="btn-group mx-3" 
                        (click)="updateQuantity($event, cartItem)">
                        <div class="btn btn-utline-dark">
                            <span>-</span>
                        </div>
                        <div class="btn">{{cartItem.quantity}}</div>
                        <div class="btn btn-outline-dark">
                            <span>-</span>
                        </div>
                        </div>
                        <div class="btn btn-otline-danger mx-4"
                        (click)="removeItem(cartItem)">
                            <span><fa-icon [icon]="faTrash"></fa-icon> Remove Item</span>
                        </div>
                    </div>

                </div>

            </div>

            <hr />
        </div>
    </div>
</ng-container>