<ng-container *ngIf="!cartStore.cart.products.length">
    <div class="p-4 ec-main-div">
      <span class="my-5 ec-text"> The Cart Is Empty </span>
      <hr />
      <div class="btn btn-warning my-3" (click)="navigateToHome()">
        <span style="font-weight: 500"> Continue Shopping </span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="cartStore.cart$ | async as cart">
    <div class="row my-5 fc-main-div">
      <div class="col-8 p-4">
        <div class="row cart-item-card" *ngFor="let cartItem of cart.products">
          <div class="col-4">
            <img
              [src]="'../../../../assets/images/' + cartItem.product.product_img"
            />
          </div>
          <div class="col-8">
            <div class="p-3 cart-item-details">
              <span class="cart-item-name">
                {{ cartItem.product.product_name }}
              </span>
              <div class="cart-item-price">
                <span> {{ cartItem.product.price | currency }} </span>
              </div>
              <app-ratings [score]="cartItem.product.ratings"></app-ratings>
              <hr />
              <div class="cart-edit-container">
                <div
                  class="btn-group mx-3"
                  (click)="updateQuantity($event, cartItem)"
                >
                  <div class="btn btn-outline-dark">
                    <span> - </span>
                  </div>
                  <div class="btn">{{ cartItem.quantity }}</div>
                  <div class="btn btn-outline-dark">
                    <span> + </span>
                  </div>
                </div>
                <div
                  class="btn btn-outline-danger mx-4"
                  (click)="removeItem(cartItem)"
                >
                  <span> <fa-icon [icon]="faTrash"></fa-icon> Remove Item </span>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="col-4">
        <ng-container *ngIf="cartStore.cart.products.length" >
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="px-4 py-1 my-3 cart-summary">
              <h2 class="mb-5 mt-3">Delivery Address</h2>
              <div class="form-group row field-margin">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="form-group row field-margin">
                <label for="address" class="col-sm-2 col-form-label"
                  >Address</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    formControlName="address"
                  />
                </div>
              </div>
              <div class="form-group row field-margin">
                <label for="city" class="col-sm-2 col-form-label">City</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    formControlName="city"
                  />
                </div>
              </div>
              <div class="form-group row field-margin">
                <label for="state" class="col-sm-2 col-form-label">State</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    formControlName="state"
                  />
                </div>
              </div>
              <div class="form-group row field-margin">
                <label for="pin" class="col-sm-2 col-form-label">Pin</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="pin"
                    formControlName="pin"
                  />
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div
              class="px-4 py-3 my-4 cart-summary"
              
            >
              <h2 class="mb-5 mt-3">Summary</h2>
              <div>
                <span> Cart Total : {{ cart.totalAmount | currency }} </span>
                <span> Shipping Charges : Free </span>
                <hr />
                <span class="summary-total">
                  Total : {{ cart.totalAmount | currency }}
                </span>
                <hr />
              </div>
              <button
                type="submit"
                class="btn submit-button"
                [disabled]="!orderForm.valid"
              >
                Checkout
              </button>
            </div>
          </div>
        </form>
      </ng-container>
      </div>
    </div>
  </ng-container>
  